
body {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

.blind {position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;}

.pull-left{float:left;}
.pull-right{float:right;}
.por{position:relative;}
.poa{position:absolute;}
.pof{position:fixed;}
.dtb{display:table;}
.dtbc{display:table-cell;}
.vat{vertical-align:top;}
.vam{vertical-align:middle;}
.vab{vertical-align:bottom;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
